{% extends "base5.html" %}
{% block contents %}

   <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Lorem Ipsum</h4>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>



        </div><!--.col -->

        <div class="col-md-6">
            <div class="vid">
                <iframe width="560" height="315" src="//www.youtube.com/embed/ac7KhViaVqc" allowfullscreen=""></iframe>
            </div><!--./vid -->

        </div><!--.col -->

    </div><!--./row -->

</div><!--./container -->


{% endblock %}