#container{
width: 1024px;
height: auto;
min-height: 418px;
margin: 0 auto;
position: relative;
}


#content {
width: 90.72%;
background: #FFFFFF;
min-height: 554px;
border: 5px solid #007D88;
margin: 0 0 0 3.5%;
margin-top: 100px;
padding: 30px;
}


.wrapper {
    border: 2px solid #007D88;
    padding: 30px;
    margin-top: 2px;

}

#content1 {


}