{% extends "base5.html" %}
{% block contents %}


    <div class="container">

        <section class="one">

            <div class="row topmargin">
                <div class="col-md-3" id="gry2">

                    <div id="sidebar">
                        <div class="link">

                            <div class="lmenu bio-section-plus-minus">
                                <div class="row">
                                    <div class="col-xs-9"><h1>{{ item.name }}</h1> </div>
                                    <div class="col-xs-3">
                                        <img src="/images/plus.png"  alt="" class="ar-down bio-section-plus">
                                        <img src="/images/minus.png"  alt="" class="ar-down bio-section-minus"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <ul class="mobile-open-left" id="nav1">
                                {% comment %}<li><h3 style="padding-right:10px;padding-top: 5px;"><b>Life</b></h3></li>{% endcomment %}
                                <li><a href="#test1">Test 1</a></li>
                                <li><a href="#test2">Test 2</a></li>
                                <li><a href="#test3">Test 3</a></li>
                                <li><a href="#test4">Test 4</a></li>
                                <li><a href="#test5">Test 5</a></li>
                                <li><a href="#test6">Test 6</a></li>
                                <li><a href="#test7">Test 7</a></li>
                                <li><a href="#test8">Test 8</a></li>
                                <li><a href="#test9">Test 9</a></li>
                                <li><a href="#test10">Test 10</a></li>
                                <li><a href="#test11">Test 11</a></li>

                            </ul>
                        </div>
                    </div>


                </div>
                <div class="col-md-9 whitebg">

                    <div id="test1"><!--youtube video replace-->

                        <div class="mobile-show"><h1>Test 1</h1></div>
                        <p><h1>Test 1</h1></p>
                        <p><em>&ldquo;The way of truth is like a great road. It is not difficult to know it. What is evil that humans do not seek this road despite knowing it,&rdquo;</em>&nbsp;said <strong>Master Meng</strong>, a great Chinese thinker, who is also known by his Han Chinese name, <strong>Meng Zhi</strong> and its Romanized version, <strong>Mencius.</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                        <p><a href="/test1/"> <button type="button" class="btn btn-success" style="width: 110px; margin-top: -10px;float:left;">Start</button> </a></p>

                    </div>
                    <div class="division"></div>
                    <div id="test2">

                         <div class="mobile-show"><h1>Test 2</h1></div>
                        <p><h1>Test 2</h1></p>
                        <p><em>&ldquo;The way of truth is like a great road. It is not difficult to know it. What is evil that humans do not seek this road despite knowing it,&rdquo;</em>&nbsp;said <strong>Master Meng</strong>, a great Chinese thinker, who is also known by his Han Chinese name, <strong>Meng Zhi</strong> and its Romanized version, <strong>Mencius.</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                        <p><a href="/test2/"> <button type="button" class="btn btn-success" style="width: 110px; margin-top: -10px;float:left;">Start</button> </a></p>


                    </div>
                    <div class="division"></div>
                    <div id="test3">

                        <div class="mobile-show"><h1>Test3</h1></div>

                        <p><h1>Test 3</h1></p>
                        <p><em>&ldquo;The way of truth is like a great road. It is not difficult to know it. What is evil that humans do not seek this road despite knowing it,&rdquo;</em>&nbsp;said <strong>Master Meng</strong>, a great Chinese thinker, who is also known by his Han Chinese name, <strong>Meng Zhi</strong> and its Romanized version, <strong>Mencius.</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <p><a href="/test3/"> <button type="button" class="btn btn-success" style="width: 110px; margin-top: -10px;float:left;">Start</button> </a></p>

                    </div>
                    <div class="division"></div>
                    <div id="test4">

                        <div class="mobile-show"><h1>Test 4</h1></div>
                        <p><h1>Test 4</h1></p>
                        <p><em>&ldquo;The way of truth is like a great road. It is not difficult to know it. What is evil that humans do not seek this road despite knowing it,&rdquo;</em>&nbsp;said <strong>Master Meng</strong>, a great Chinese thinker, who is also known by his Han Chinese name, <strong>Meng Zhi</strong> and its Romanized version, <strong>Mencius.</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                        <p><a href="/test4/"> <button type="button" class="btn btn-success" style="width: 110px; margin-top: -10px;float:left;">Start</button> </a></p>

                    </div>
                    <div class="division"></div>
                    <div id="test5">

                         <div class="mobile-show"><h1>Test 5</h1></div>
                        <p><h1>Test 5</h1></p>
                        <p><em>&ldquo;The way of truth is like a great road. It is not difficult to know it. What is evil that humans do not seek this road despite knowing it,&rdquo;</em>&nbsp;said <strong>Master Meng</strong>, a great Chinese thinker, who is also known by his Han Chinese name, <strong>Meng Zhi</strong> and its Romanized version, <strong>Mencius.</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                        <p><a href="/test5/"> <button type="button" class="btn btn-success" style="width: 110px; margin-top: -10px;float:left;">Start</button> </a></p>

                    </div>
                    <div class="division"></div>
                    <div id="test6">

                         <div class="mobile-show"><h1>Test 6</h1></div>
                        <p><h1>Test 6</h1></p>
                        <p><em>&ldquo;The way of truth is like a great road. It is not difficult to know it. What is evil that humans do not seek this road despite knowing it,&rdquo;</em>&nbsp;said <strong>Master Meng</strong>, a great Chinese thinker, who is also known by his Han Chinese name, <strong>Meng Zhi</strong> and its Romanized version, <strong>Mencius.</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                        <p><a href="/test6/"> <button type="button" class="btn btn-success" style="width: 110px; margin-top: -10px;float:left;">Start</button> </a></p>


                    </div>
                    <div class="division"></div>
                    <div id="test7">

                         <div class="mobile-show"><h1>Test 7</h1></div>
                        <p><h1>Test 7</h1></p>
                        <p><em>&ldquo;The way of truth is like a great road. It is not difficult to know it. What is evil that humans do not seek this road despite knowing it,&rdquo;</em>&nbsp;said <strong>Master Meng</strong>, a great Chinese thinker, who is also known by his Han Chinese name, <strong>Meng Zhi</strong> and its Romanized version, <strong>Mencius.</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                        <p><a href="/test7/"> <button type="button" class="btn btn-success" style="width: 110px; margin-top: -10px;float:left;">Start</button> </a></p>

                    </div>
                    <div class="division"></div>
                    <div id="test8">

                         <div class="mobile-show"><h1>Test 8</h1></div>
                        <p><h1>Test 8</h1></p>
                        <p><em>&ldquo;The way of truth is like a great road. It is not difficult to know it. What is evil that humans do not seek this road despite knowing it,&rdquo;</em>&nbsp;said <strong>Master Meng</strong>, a great Chinese thinker, who is also known by his Han Chinese name, <strong>Meng Zhi</strong> and its Romanized version, <strong>Mencius.</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                        <p><a href="/test8/"> <button type="button" class="btn btn-success" style="width: 110px; margin-top: -10px;float:left;">Start</button> </a></p>

                    </div>
                    <div class="division"></div>
                    <div id="test9">

                         <div class="mobile-show"><h1>Test 9</h1></div>
                        <p><h1>Test 9</h1></p>
                        <p><em>&ldquo;The way of truth is like a great road. It is not difficult to know it. What is evil that humans do not seek this road despite knowing it,&rdquo;</em>&nbsp;said <strong>Master Meng</strong>, a great Chinese thinker, who is also known by his Han Chinese name, <strong>Meng Zhi</strong> and its Romanized version, <strong>Mencius.</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <p><a href="/test9/"> <button type="button" class="btn btn-success" style="width: 110px; margin-top: -10px;float:left;">Start</button> </a></p>


                    </div>
                    <div class="division"></div>
                    <div id="test10">

                         <div class="mobile-show"><h1>Test 10</h1></div>
                        <p><h1>Test 10</h1></p>
                        <p><em>&ldquo;The way of truth is like a great road. It is not difficult to know it. What is evil that humans do not seek this road despite knowing it,&rdquo;</em>&nbsp;said <strong>Master Meng</strong>, a great Chinese thinker, who is also known by his Han Chinese name, <strong>Meng Zhi</strong> and its Romanized version, <strong>Mencius.</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                        <p><a href="/test10/"> <button type="button" class="btn btn-success" style="width: 110px; margin-top: -10px;float:left;">Start</button> </a></p>

                    <div class="division"></div>
                    <div id="test11">

                         <div class="mobile-show"><h1>Test 11</h1></div>
                        <p><h1>Test 11</h1></p>
                        <p><em>&ldquo;The way of truth is like a great road. It is not difficult to know it. What is evil that humans do not seek this road despite knowing it,&rdquo;</em>&nbsp;said <strong>Master Meng</strong>, a great Chinese thinker, who is also known by his Han Chinese name, <strong>Meng Zhi</strong> and its Romanized version, <strong>Mencius.</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                        <p><a href="/test11/"> <button type="button" class="btn btn-success" style="width: 110px; margin-top: -10px;float:left;">Start</button> </a></p>


                    </div>

                    <div class="division"></div>



                </div>
            </div>


    </div>
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/plugin.js"></script>
    <script src="/static/js/easing.js"></script>
    <script>
        $(function(){
            $("a").click(function(){
                console.log(this.hash)
                if(this.hash){
                    var hash = this.hash.substr(1);
                    var $toElement = $("a[name="+hash+"]");
                    var toPosition = $toElement.position().top;
                    $("body,html").animate({
                        scrollTop :toPosition
                    },2000,"easeOutExpo");

                    return false;
                }

            });

            if(location.hash){
                var hash = location.hash;
                window.scroll(0,0);
                $("a[href="+hash+"]").click();
            }
        });

    </script>
{% endblock %}