<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My CareerGuru</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="/static/modern/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/modern/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom css -->
    <link href="/static/css/app.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/static/css/mainbase.css">
    <link type="text/css" rel="stylesheet" href=/static/css/FAQ.css>
    <link type = text/css rel="stylesheet" href="/static/css/colgpage.css">
    <link rel="stylesheet" type="text/css" href="/static/css/faq1.css">
    <link rel="stylesheet" type="text/css" href="/static/css/it5.css">
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/static/css/signin.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
     <link rel="stylesheet" type="text/css" href="/static/css/colginfo5.css">
    {% comment %}<link rel="stylesheet" type="text/css" href="/static/css/demo1.css">
{% endcomment %}



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

</head>

<body>
<div class="row">
<div class="col-lg-12" >
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation" style="margin-bottom:0px;">
        <div class="container">
        <div class="col-lg-3">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"> <img class="img-responsive" src="/static/img/mainlogo.png" style="padding-left: 4px;"></a>
            </div>
        </div>
        <div class="col-lg-9 pull-right">
            <!-- Brand and togg
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse  " id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown btn btn-purple" style="padding: 1px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Career Planning <b class="caret"></b></a>
                        <ul class="dropdown-menu blue">
                            <li><a href="/step1">What is a Career? </a></li>
                                <li><a href="/step2">Self-Assessment </a></li>
                                <li><a href="/step3">Discover career paths </a></li>
                                <li><a href="/step4"> Exploring different Occupations</a></li>
                                <li><a href="/step5">Meet professionals</a></li>
                                <li><a href="/step6">Plan to overcome hurdles</a></li>
                        </ul>
                    </li>



                     <li class="dropdown btn btn-violet" style="padding: 1px;">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">In a Nutshell <b class="caret"></b></a>
                        <ul class="dropdown-menu green">
                            <li><a href="/parents1">Talk to your child about careers </a></li>
                                <li><a href="/parents2">Exploring interests, skills and occupations </a></li>
                                <li><a href="/parents3">Help your child with courses and training </a></li>
                                <li><a href="/parents4">Help with work experience and job applications </a></li>
                        </ul>
                    </li>

                     <li class="dropdown btn btn-primary" style="padding: 1px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Career Options <b class="caret"></b></a>
                        <ul class="dropdown-menu skyblue">
                            <li><a href="/exp1">Browse occupations </a></li>
                                <li><a href="/exp2">Matching interests and skills to a career </a></li>
                                <li><a href="/exp3"> Talk with real people about your career</a></li>
                                <li><a href="/exp4"> Current Trend in Careers</a></li>
                                <li><a href="/exp5"> Find out about industries</a></li>
                        </ul>
                    </li>

                     <li class="dropdown btn btn-success" style="padding: 1px;background-color: #b8b65c;border-color: #b8b65c">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ours Programs <b class="caret"></b></a>
                        <ul class="dropdown-menu lemon">
                            <li><a href="/cc1">What's out there? </a></li>
                                <li><a href="/cc2">I need a job now </a></li>
                                <li><a href="/cc3">I want to change career paths </a></li>
                                <li><a href="/cc4">Job market trends </a></li>
                                <li><a href="/cc5">Undertake further study or training </a></li>
                                <li><a href="/cc6">I'm re-entering the workforce </a></li>
                                <li><a href="/cc7">Help for mature-age workers </a></li>
                                <li><a href="/cc8">Preparing to apply for jobs </a></li>
                        </ul>
                    </li>




                    <li class="dropdown btn btn-danger yellow" style="padding: 1px;">
            <a  role="button" class="dropdown-toggle" data-toggle="dropdown">Entrance Test <span class="caret"></span>
            </a>
    		<ul class="dropdown-menu multi-level yellow" role="menu" aria-labelledby="dropdownMenu">
                {% for et in entrance %}
              <li><a href="/entrance/{{ et.id }}">{{ et.name }}</a></li>
              {% endfor %}
            </ul>

</li>


                {% comment %}*****************  multi level dropdown box ****************{% endcomment %}
                   <li class="dropdown btn btn-warning purple" style="padding: 1px;">
            <a  role="button" class="dropdown-toggle" data-toggle="dropdown">Knowledge Society<span class="caret"></span>
            </a>
    		<ul class="dropdown-menu multi-level purple" role="menu" aria-labelledby="dropdownMenu">
              <li><a href="#">Menu 1</a></li>
              <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>

              <li class="dropdown-submenu purple">
                <a tabindex="-1" href="#">Hover me for more options</a>
                <ul class="dropdown-menu purple">
                  <li><a tabindex="-1" href="#">Second level</a></li>
                  <li class="dropdown-submenu purple">
                    <a href="#">Even More..</a>
                    <ul class="dropdown-menu purple">
                        <li><a href="#">3rd level</a></li>
                    	<li><a href="#">3rd level</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Second level</a></li>
                  <li><a href="#">Second level</a></li>
                </ul>
              </li>
            </ul>

</li>

{% comment %}

                    <li class="dropdown btn btn-warning" style="padding: 1px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Knowledge Society <b class="caret"></b></a>
                        <ul class="dropdown-menu purple">
                            <li><a class="btn btn-block btn-social btn-envelope">
                                <i class="fa fa-envelope"></i> Send Us An Email
                            </a></li>
                            <li><a class="btn btn-block btn-social btn-facebook">
                                <i class="fa fa-facebook "></i> Find Us On Facebook
                            </a></li>
                            <li><a class="btn btn-block btn-social btn-google-plus">
                                <i class="fa fa-google-plus "></i> Find Us On Google+
                            </a></li>

                            <li><a class="btn btn-block btn-social btn-youtube">
                                <i class="fa fa-youtube "></i> Find Us On YouTube
                            </a></li>
                            <li><a class="btn btn-block btn-social-icon btn-twitter">
                                <i class="fa fa-twitter fa"></i> Follow Us On Twitter
                            </a></li>


                        </ul>
                    </li>
{% endcomment %}


                    <li class="dropdown btn btn-info" style="padding: 1px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact Us <b class="caret"></b></a>
                        <ul class="dropdown-menu red">
                            <li><a class="btn btn-block btn-social btn-envelope">
                                <i class="fa fa-envelope"></i> Send Us An Email
                            </a></li>
                            <li><a class="btn btn-block btn-social btn-facebook">
                                <i class="fa fa-facebook "></i> Find Us On Facebook
                            </a></li>
                            <li><a class="btn btn-block btn-social btn-google-plus">
                                <i class="fa fa-google-plus "></i> Find Us On Google+
                            </a></li>

                            <li><a class="btn btn-block btn-social btn-youtube">
                                <i class="fa fa-youtube "></i> Find Us On YouTube
                            </a></li>
                            <li><a class="btn btn-block btn-social-icon btn-twitter">
                                <i class="fa fa-twitter fa"></i> Follow Us On Twitter
                            </a></li>


                        </ul>
                    </li>


                </ul>

            <!-- /.navbar-collapse -->

            <div class="col-lg-12 b1" style=" margin-top:38px;">
            <div class="col-lg-2 sd2"> <h4 style="margin-top: 6px;margin-bottom:0px;">College Search</h4> </div>
                <form action="/search1/" method="get">


                    <div id="title">
                        <select id="foo" class=" sd1 col-lg-2 "  name="cs" >

                            <option value="">Main Stream</option>
                            {% for i in item %}
                                <option value="{{ i.id }}">{{ i.id }} {{ i.name }}</option>
                            {% endfor %}
                        </select>

                        <div id="subcources">
                            <select id="foo1" class="sd1 col-lg-2" name="scs" >
                                <option value="">Sub-Course </option>
                            </select>
                        </div>


                        <select id="state" class="sd1 col-lg-2" name="state">
                            <option value="">Select State</option>
                            {% for i in state %}
                                <option value="{{ i.id }}"> {{ i.name }}</option>
                            {% endfor %}
                        </select>
                        <div id="city1">
                            <select id="city" class="sd1 col-lg-1" name="city" >
                                <option value="">Select City</option>
                                {% for i in city %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div id="level1">
                            <select id="level" class="sd1 col-lg-1" name="level" >
                                <option value=""> Level</option>
                                {% for i in level %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <div class="col-lg-1 pull-right">
                         <div class="input-group-btn ">
                                                <button class="btn btn-success" type="submit" style="padding: 3px 25px;"><i class="glyphicon glyphicon-search"></i></button>
                                            </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
</div>


        <!-- /.container -->
    </nav>
</div>
</div>
    {% block contents %}{% endblock %}

{% comment %}        <!-- Footer -->

           <div class="navbar  navbar-bottom" role="navigation">
               <div class="container">
                <div class="navbar-text pull-left">
                    <p>Copyright MycareerGuru @2015</p>
                </div>

               </div>

           </div>{% endcomment %}

   {% comment %} <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; MycareerGuru @ 2015</p>
                </div>
            </div>
        </footer>{% endcomment %}


  {% comment %} ************** footer *******************{% endcomment %}

   {% comment %} <div id="footer"  >

  <div class="row">

      <div class="col-sm-3">
        <div class="foot-header">
          Acerca de Nosotros
        </div>
        <div class="foot-links">
          <a href="http://internet.cocha.com/nuestra-empresa/nuestra-empresa.html">Nuestra Empresa</a>
          <a href="http://cms.cocha.com/sucursales.html">Sucursales</a>
          <a href="http://internet.cocha.com/_DisenoWeb/minisitios/sitio/por-que-comprar-en-cocha.html?cid=por-que-comprar-en-cocha">Por qué comprar en Cocha</a>
          <a href="http://internet.cocha.com/virgin_galactic/virgin_galactic.html">Virgin Galactic</a>
          <a href="http://internet.cocha.com/_DisenoWeb/minisitios/sitio/trabaja-con-nosotros.html?cid=trabaja_en_cocha">Trabaja con nosotros</a>
          <a href="http://www.cochainbound.com/" target="_blank">¿Vienes a Chile?</a>
        </div>
      </div><!--/col-sm-3-->
    <div class="col-sm-3">
      <div class="foot-header"> Servicio al cliente </div>
      <div class="foot-links">
      	<a href="javascript:Contacto()">Contáctanos</a>
        <a href="http://internet.cocha.com/_DisenoWeb/minisitios/sitio/servicio-al-pasajero.html?cid=atencion-al-pasajero">Atención al pasajero</a>
        <a href="http://internet.cocha.com/_DisenoWeb/minisitios/sitio/faq.html?cid=preguntas-frecuentes">Preguntas frecuentes</a>
        <a href="http://cms.cocha.com/terminos-y-condiciones">Términos y Condiciones Generales</a>
        <a href="http://internet.cocha.com/_DisenoWeb/check-in/check-in.html?cid=check-in-on-line">Check-in en línea </a>
        <a href="http://www.cocha.com/ibe/bookingManagement/retrieveBookingForm.do">Consultar reserva</a>
        <a href="http://internet.cocha.com/manual-del-viajero.pdf" target="_blank">Manual del viajero</a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="foot-header">
        Medios de pago
      </div>
      <div class="foot-links">

      </div>
    </div><!--/col-sm-3-->
    <div class="col-sm-3">
      <div class="foot-header">
        Medios de pago
      </div>
      <div class="foot-links">

      </div>


    </div>

  	</div><!--/row-->


</div><!--/footer--></div>


            <div id="push"></div>{% endcomment %}


{% comment %}   *********** End footer **********{% endcomment %}
       

    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/plugin.js"></script>
    <script src="/static/js/easing.js"></script>
    <script src="/static/js/scrolling.js"></script>
     <script src="/static/js/cust.js"></script>
    <script src="/static/js/search_colg.js"></script>
    <script data-turbolinks-track="true" src="/static/js/angular.min.js"></script>
<script data-turbolinks-track="true" src="/static/js/angular-sanitize.min.js"></script>
<script data-turbolinks-track="true" src="/static/js/angular-animate.min.js"></script>
<script data-turbolinks-track="true" src="/static/js/jquery.min.js"></script>
<script data-turbolinks-track="true" src="/static/js/bootstrap.min.js"></script>
<script data-turbolinks-track="true" src="/static/js/script.js"></script>
<script data-turbolinks-track="true" src="/static/js/scroll-smooth.js"></script>
<script data-turbolinks-track="true" src="/static/js/desktop-navigation.js"></script>
<script data-turbolinks-track="true" src="/static/js/custom.js"></script>


    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>



{% comment %}<script>
        $(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top-150
        }, 1000);
        return false;
      }
    }
  });
})
    </script>{% endcomment %}
</body>

</html>
