{% extends "base5.html" %}
{% block contents %}

    <div class="container">

        <div class="row" >
            <div class="col-lg-12" style="border: solid 1px #000000">
                <h1> {{ scs }}</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <div class="col-lg-2" style="border: solid 1px #000000;">
Left side
</div>

<div id="colginfosearch">

                <div class="col-lg-8" style="border: solid 1px #000000;background-color: #E9E6C7">
                    {% if slist %}
                        {% for t in slist %}


                            <div class="col-lg-12 row" style="border: solid 1px #000000">
                                <div class="col-lg-2" style="border: solid 1px #000000;min-height: 100px;">
        colg logo
    </div>


                                <div class="col-lg-10">
                                   <p> <h2> <a href="colgpage/{{ t.id }}/">{{ t.name }}</a></h2></p><p> est:{{ t.est }} city:{{ t.city}}  private/public:{{ t.aided }}
                                    (approved by):{{ t.approved }} NAAC : {{ t.naac }}</p>
                                    course duration :{{ t.eligibility }}
                                </div>

                                <div class="col-lg-12">
                                    <div class="col-lg-12">
                        Eligibility :
                        Also offering Courses of :</div>
                                    <div class="col-lg-5">
                                        <ul>
                                            <li>

                                            </li>
                                            <li>

                                            </li>

                                        </ul>
                                    </div>

                                    <div class="col-lg-5">
                                        <ul>
                                            <li>
                                                physics
                                            </li>
                                            <li>
                                                commerse
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-2">

                                        <a href="colgpage/{{ t.id }}/"> <button type="button" class="btn btn-success" style="width: 119px;padding: 3px;float: right;">Apply</button> </a>
                                    </div>


                                </div>
                            </div>
                        {%endfor%}
                    {% else %}
                        no data found
                    {% endif %}
                    </div>
                </div>

                <div class="col-lg-2" style="border: solid 1px #000000">
right 2 colm block
</div>
            </div>
        </div>
    </div>

    <div id="pageid">

    </div>


{% endblock %}