{% extends "base5.html" %}
{% block contents %}






    <div class="container">

        <section class="one">

            <div class="row topmargin">
                <div class="col-md-3" id="gry2">

                    <div id="sidebar">
                        <div class="link">

                            <div class="lmenu bio-section-plus-minus">
                                <div class="row">
                                    <div class="col-xs-9"><h1>{{ item.name }}</h1> </div>
                                    <div class="col-xs-3">
                                        <img src="/images/plus.png"  alt="" class="ar-down bio-section-plus">
                                        <img src="/images/minus.png"  alt="" class="ar-down bio-section-minus"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <ul class="mobile-open-left" id="nav1">
                                <li><h3 style="padding-right:10px;padding-top: 5px;"><b>College Menu</b></h3></li>
                                <li><a href="#overview">OverView</a></li>
                                <li><a href="#courses"> Courses</a></li>
                                <li><a href="#admission">Admisiion Procedure</a></li>
                                <li><a href=faculty>Faculty</a></li>
                                <li><a href="#facility">Facility</a></li>
                                <li><a href="#contact">Contact Info</a></li>

                            </ul>
                        </div>
                    </div>


                </div>
                <div class="col-md-9 whitebg">
                    <p style="text-align:center;">
                        <img alt="Heading" class="img-responsive center-block" src="/uploads/page/headimg_url/235/heading.jpg" />
                    </p>
                    <div id="overview"><!--youtube video replace-->

                        <div class="mobile-show"><h1>{{ item.name }}</h1></div>
                        <h2>{{ item.name }}</h2>
                    </div>
                    <div class="division"></div>
                    <div id="courses"><div class="mobile-hide">

                        <div class="mobile-show"><h1>OverView</h1></div>

                        <p>{{ item.overview }}</p>

                    </div>
                        <div class="division"></div>
                        <div id="faculty"></div>

                        <div class="mobile-show"><h1>Faculty</h1></div>

                        <p>NO OF TOTAL FACULTY : {{ item.totfaculty }}</p>
                        <p>NO OF TOTAL Sr. FACULTY : {{ item.seniors }}</p>

                    </div>
                    <div class="division"></div>
                    <div id="facility"></div>

                    <div class="mobile-show"><h1>Facility</h1></div>

                    <p>FACILITY</p>
                    <p>Hostel : {{ item.hostel }}</p>
                    <p>Auditorium : {{ item.auditorium }}</p>
                    <p>Canteen : {{ item.canteen }}</p>
                    <p>Ground : {{ item.ground }}</p>
                    <p>Lab : {{ item.lab }}</p>
                    <p>Library : {{ item.library }}</p>
                    <p>Wifi : {{ item.wifi }}</p>




                <div class="division"></div>
                <div id="contact"></div>

                <div class="mobile-show"><h1>Contact details</h1></div>

                <p>Address : {{ item.address }}</p>
                <p>City : {{ item.city }}</p>
                <p>State : {{ item.state }}</p>
                <p>Pin No : {{ item.pin }}</p>
                <p>Phone No : {{ item.phone }}</p>
                <p>Email  : {{ item.email }}</p>
                <p>Website : {{ item.website }}</p>

            </div>

            <div class="division"></div>

        </section>
    </div>

    </div>



    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/plugin.js"></script>
    <script src="/static/js/easing.js"></script>
     <script src="/static/js/scrolling.js"></script>
     <script src="/static/js/cust.js"></script>
    <script>
        $(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top-150
        }, 1000);
        return false;
      }
    }
  });
})
    </script>
{% endblock %}