<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/style2.css" />
    <link rel="stylesheet" href="/static/css/style3.css" />
    <link rel="stylesheet" href="/static/css/mycss.css" />
    <link rel="stylesheet" href="/static/css/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/default/default.css" type="text/css" media="screen" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.nivo.slider.pack.js" type="text/javascript"></script>
    <script src="/static/js/jquery-2.1.1.js" type="text/javascript"></script>
    <script src="/static/js/myjs.js" type="text/javascript"></script>

    <!-- Demo CSS -->
    <link rel="stylesheet" href="/static/css/demo.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" />

    <!-- Modernizr -->
    <script src="/static/js/modernizr.js"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <title>myCareerGuru</title>
</head>
<body id="home">

<div id="wrapper">

<!--Sign up  -->
<div id="mywrapper">
    <a href="/login"> Sign Up</a>
</div>
<!--__--__--__--__--__--  L O G O  &   N A V    B A R --__--___--__--__--__-->
<header>
    <div id="logo">
        <h1><span id="iisrt"><img src="" alt="" /><span id="ii"></span>  <span id="srt"></span></span></h1>
        <div id="tagline">
            <h2></h2>
        </div>
    </div>

    <div class="example" style="position: absolute;">
        <div id="myslider">
<div class="dropdown opt1">

    <div class="sub-arr1"></div>
    <div class= "sub-title">
        title
    </div>
    <div class="sub-left">
        <p>How do you make a career choice when you don't really know what you want to do or which career is right for you? Follow these steps to identify a suitable career for you. </p></div>
    <div class="sub-right">

        <ul>
            <li><a href="#">What is a Career? </a></li>
            <li><a href="#">Self-Assessment </a></li>
            <li><a href="#">Discover career paths </a></li>
            <li><a href="#"> Exploring different Occupations</a></li>
            <li><a href="#">Meet professionals</a></li>
            <li><a href="#">Plan to overcome hurdles</a></li>


        </ul>
    </div>



</div>
<div class="dropdown opt2 t2">

    <div class="sub-arr2"></div>
    <div class= "sub-title">
        title
    </div>
    <div class="sub-left">

        <p> Do you need to change direction in your career?</p></div>
    <div class="sub-right">

        <ul>
            <li><a href="#">What's out there? </a></li>
            <li><a href="#">I need a job now </a></li>
            <li><a href="#">I want to change career paths </a></li>
            <li><a href="#">Job market trends </a></li>
            <li><a href="#">Undertake further study or training </a></li>
            <li><a href="#">I'm re-entering the workforce </a></li>
            <li><a href="#">Help for mature-age workers </a></li>
            <li><a href="#">Preparing to apply for jobs </a></li>




        </ul>
    </div>



</div>

<div class="dropdown opt3 t1">

    <div class="sub-arr3"></div>
    <div class= "sub-title">
        title
    </div>
    <div class="sub-left">
        <p> Help your child explore their career options </p></div>
    <div class="sub-right">

        <ul>
            <li><a href="#">Talk to your child about careers </a></li>
            <li><a href="#">Exploring interests, skills and occupations </a></li>
            <li><a href="#">Help your child with courses and training </a></li>
            <li><a href="#">Help with work experience and job applications </a></li>




        </ul>
    </div>



</div>

<div class="dropdown opt4">

    <div class="sub-arr4"></div>
    <div class= "sub-title">
        title
    </div>
    <div class="sub-left">
        <p>Use our tools to find the occupation that's fits your skills and interest.</p></div>
    <div class="sub-right">

        <ul>
            <li><a href="#">Browse occupations </a></li>
            <li><a href="#">Matching interests and skills to a career </a></li>
            <li><a href="#"> Talk with real people about your career</a></li>
            <li><a href="#"> Current Trend in Careers</a></li>
            <li><a href="#"> Find out about industries</a></li>

        </ul>
    </div>



</div>

<div class="dropdown opt5">

    <div class="sub-arr5"></div>
    <div class= "sub-title">
        title
    </div>
    <div class="sub-left">
        <p>hiii this is my first program and i am trying to do menu bar who display description n link also </p></div>
    <div class="sub-right">

        <ul>
            <li><a href="#">First Item </a></li>
            <li><a href="#">Second Item </a></li>
            <li><a href="#"> Third Item</a></li>
            <li><a href="#"> Fourth Item</a></li>


        </ul>
    </div>



</div>

<div class="dropdown opt6">

    <div class="sub-arr6"></div>
    <div class= "sub-title">
        Get in touch with us
    </div>
    <div class="sub-left">
        <p>At MyCareerGuru improvement is an on-going process. Kindly send your feedback or queries.</p></div>
    <div class="sub-right">

        <ul>
            <li><a href="#">About us </a></li>
            <li><a href="#"><img src="img/google_plus1.png"/> Send us an Email</a></li>
            <li><a href="#"><img src="img/google_plus1.png"/> Find us on YouTube</a></li>
            <li><a href="#"><img src="img/facebook1.png"/>Find us on Facebook</a></li>
            <li><a href="#"><img src="img/google_plus1.png"/> Find us on Google+</a></li>
            <li><a href="#"><img src="img/twitter1.png"/> Follow us on Twitter</a></li>
            <li><a href="#"><img src="img/twitter1.png"/> Subscribe </a></li>


        </ul>
    </div>



</div>
</div>
        <div class="menuholder">
            <ul class="menu slide">
                <li><a href="http://www.script-tutorials.com/" class="red">Step-by-Step</a></li>
                <li><a href="http://www.script-tutorials.com/" class="yellow">Parents</a>
                    <div class="subs">

                    </div>

                </li>
                <li><a href="http://www.script-tutorials.com/category/resources/" class="green">Explore Careers</a>
                    <div class="subs">

                    </div>
                </li>
                <li><a href="http://www.script-tutorials.com/category/resources/" class="orange">Changing Careers</a></li>
                <li><a href="http://www.script-tutorials.com/about/" class="blue">Entrance Tests</a>

                </li>
                <li><a href="http://www.script-tutorials.com/creating-css3-dropdown-menu-3/" class="violet">Contact Us</a></li>
            </ul>



        </div>
        <div style="clear:both"></div>
    </div>
</header>

<!--__--__--__--__--  T H E    S L I D E R --__--__--__--___--__--__--__-->
<table style="margin: 50px 17px 0px 0px; z-index: 2; ">
    <tr>
        <td>
            <div class="ftbox">
                <!-- <div class="ftbox1"></div> -->
                <div class="ftcontent">
                    <div class="post">
                        <h2><a href="#">Member's Login</a></h2>
                        <form action="" style="padding:10px;">
                            <br><br>
                            <span style=""><input type="text" name="emailid" placeholder="Email-Id"/>
                            </span>
                            <span style="float:right;"> <input type="text" name="password" placeholder="Password"></span>
                            <br><br>
                            <div style="float:left;margin: 0px 13px -25px -19px;" class="readmore" type="submit"><a href="#">Login</a></div>
                            <div style="float: right; margin: 0px 34px 3px 10px;" class="readmore" type="submit"><a href="#">SignUp</a></div>
                        </form>
                        <br><br><br>
                        <h3 style= "margin: 12px 21px 8px 33px; color: #656f42;">Login with</h3>
                        <div style="width:195px;">
                            <p><img src="images/facebook.png">
                                <img src="images/google_plus.png">
                                <img src="images/twitter.png"></p>  </div>
                    </div>
                    <!--         <div class="ftbox2"></div> -->
                </div>
                <div class="clear"></div>
        </td>
        <td>
            <!-- <div class="flexslider" style="width:550px;max-height:250px;margin-left:57px;"> -->
            <div class="flexslider" style="width:470px;max-height:250px;margin:-13px 15px 47px 75px; height:450px;">
                <ul class="slides">

                    <li>
                        <img src="/static/img/kitchen_adventurer_donut.jpg" style="width:550px;max-height:250px;margin-left: -3px; margin-right:-1px"/>
                    </li>
                    <li>
                        <img src="/static/img/kitchen_adventurer_cheesecake_brownie.jpg" style="width:550px;max-height:250px;margin-left: -3px; margin-right:-1px"/>
                    </li>
                    <li>
                        <img src="/static/img/kitchen_adventurer_caramel.jpg" style="width:550px;max-height:250px;margin-left: -3px; margin-right:-1px"/>
                    </li>
                    <li>
                        <img src="/static/img/kitchen_adventurer_lemon.jpg" style="width:550px;max-height:250px;margin-left: -3px; margin-right:-1px"/>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>
<!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
<section style=margin-top:-45px;>
    <!-- 				<div id="line">
                        <div class="dline"></div>
                        <h1>Our Services</h1>
                        <div class="dline"></div>				</div> -->
    <div id="ourserv">
        <article>

            <a href="#"><img src="/static/img/1.jpg" alt="" /></a>
            <p style="margin-top: -167px;"><a href="#">  <h1><span style = margin-bottom:-50px;> How can I become a ....?</span></h1> </a></p>
            <p style="margin:-25px 0 0 10px">You may know which career is right for you but you do not know where to start and how to reach there? This step by step process will guide you to achieve your dream career.</p>
            <p style="margin: 5px 0 0 5px"><form  method="get" action="/search">
            <input  type="text" name="query" style="margin-left:5px";>
            <button class="rm">OK</button></form></p>
        </article>
        <article>

            <a href="#"><img src="/static/img/2.jpg" alt="" /></a>
        <p style="margin-top: -167px;"><a href="#"><h1>I will first Explore then decide</h1></a></p>
            <p style="margin:-5px 0 0 10px">By exploring  different career options you will understand what kind of knowledge, skills, ability, personality and education is required in the occupation of your choice.</p>
            <p style="margin: 5px 0 0 5px">
                <select id="foo">
                    <option  value="#">Select Course Stream </option>
                    {%  for i in item %}

                        <option  value="get/{{i.id}}">{{ i.name }}</option>

                    {% endfor %}
                </select>

                <script>
                    document.getElementById("foo").onchange= function() {

                        window.location.href = this.value;

                    };
                </script>

            </p>

           <!-- <a href="" class="rm">Read More</a> -->
        </article>
        <article class="lastarticle">

            <a href="#"><img src="/static/img/3.jpg" alt="" /></a>
            <p style="margin-top: -167px;"><a href="#"><h1>Discover what I am good at?</h1></a></p>
            <p style="margin:-10px 0 0 10px">How do you decide what career to choose?, or even where to start? Here’s an activity which can help you find out what your interests are and how they relate to the world of work.</p>

            <!-- <a href="fullwidth.html" class="rm">Read More</a> -->
        </article>
    </div>
    <div id="sline" style="margin-top:-5px">
        <div class="sdline"></div>
        <h1>Knowledge Society</h1>
        <div class="sdline"></div>
    </div>
    <div id="latestp">
        <article>
            <img src="/static/img/1s.jpg" alt="" />
            <p style="margin-top: -120px;"> <h1>Lorem Ipsum Dolor Sit</h1></p>
            <p style="margin-top: 90px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque.</p>
            <a href="singlepost.html" class="rm">Read More</a>
        </article>
        <article>

            <img src="/static/img/2s.jpg" alt="" />
            <p style="margin-top: -120px;"><h1>Lorem Ipsum Dolor Sit</h1></p>
            <p style="margin-top: 90px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque.</p>
            <a href="singlepost.html" class="rm">Read More</a>
        </article>
        <article>

            <img src="/static/img/3s.jpg" alt="" />
            <p style="margin-top: -120px;"><h1>Lorem Ipsum Dolor Sit</h1></p>
            <p style="margin-top: 90px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque.</p>
            <a href="singlepost.html" class="rm">Read More</a>
        </article>
        <article class="lastarticle">

            <img src="/static/img/4s.jpg" alt="" />
            <p style="margin-top: -120px;"><h1>Lorem Ipsum Dolor Sit</h1></p>
            <p style="margin-top: 90px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque.</p>
            <a href="singlepost.html" class="rm">Read More</a>
        </article>
    </div>
</section>
<!--__--__--__--__--  T H E    F O O T E R --__--__--__--___--__--__--__-->
<footer>
    <p>Copyright &copymyCareerGuru.</p>
</footer>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>

<!-- FlexSlider -->
<script defer src="/static/js/jquery.flexslider.js"></script>

<script type="text/javascript">
    $(function(){
        SyntaxHighlighter.all();
    });
    $(window).load(function(){
        $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
                $('body').removeClass('loading');
            }
        });
    });
</script>


<!--  <div id="mypopup-box1" class="popup-position">
<div id="popup-wrapper">
<div id="popup-container">
  <h3>sign up </h3>
  </br> User name<input type="text"></br>
  </br>Email ID<input type="email"></br>
  </br>password<input type="password"></br>
  </br>Contact no. <input type="text"></br>
  <p> </br><button a href="javascript:void(0)" onclick="toggle_visibility('mypopup-box1');">ok</a></button></p>

  </div>

</div>
  </div>
  -->

<script type="text/javascript">
    <!--
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if(e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }
    //-->
</script>
</body>
</html>
		
		
			
    
