<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/it5.css">
    <link type = text/css rel="stylesheet" href="/static/css/colgpage.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div id="container" class="mycontainer">
    <div id="content">
        <div id="wrapper">

            <div id="content1">
                {#    <div class="container">#}
                <div id="top"><div id="topleft">

                </div>
                    <div id="topright">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="qblock">
                    <div id="qheading">
                        <div class="idnum"><b>No </b></div>
                        <div class="qhead" ><b>Questions </b></div>
                        <div class="qopt"> <b>Strongly-Dislike | Dislike | Unsure | like | Strongly-like</b></div>

                    </div>


                </div>
            <form role="form"  action="/result/" method="get">
                <div class="q">

                    {% for i in q %}
                        <div id={{ i.id}}>
                            <div id="testopt">
                                <div id="num">
                                    {{ i.id }}
                                    <b></b>
                                </div>
                            </div>
                            <div class="question"> {{i.name}}</div>




                                <span class="opt">
                                <label class="radio-inline">

                                    <input type="radio" name={{ i.id }} id="one" value="0">
                                </label>
                                <label class="radio-inline opt">
                                    <input type="radio" name={{ i.id }} id="two" value="1">
                                </label>
                                <label class="radio-inline opt">
                                    <input type="radio" name={{ i.id }} id="three" value="2">
                                </label>
                                <label class="radio-inline opt">

                                    <input type="radio" name={{ i.id }} id="four" value="3">
                                </label>
                                <label class="radio-inline opt">
                                    <input type="radio" name={{ i.id }} id="five" value="4">
                                </label>
                                </span>
                                </div>


                    {% endfor %}

                </div>
            <div id="bottombtn">
            <input type="button" name="btn_register" value="Next >>" id="nextbtn" class="registerbtn">
            <input type="submit" name="btn_register" value="SUBMIT" id="subbtn" class="registerbtn">
            <div id="backbtn">
                <input type="button" name="btn_register" value="<< Back"  id="backbtn1" class="registerbtn">
            </div>
        </div>
            </form>
            </div>
        </div>



    </div>
</div>
</div>

</body>
<script src="/static/js/jquery-2.1.1.js"></script>
<script type="text/javascript">
    $(function() {
        count=0;
        $("#backbtn1,#subbtn").hide();
        var x
        var a = $(".q")
        var b=$(a[0]).children()
        b.hide()
        for(i=0;i<12;i++){
            x=$(b[i])
            x.show()
        }


        $("#nextbtn").click(function() {

            count +=1
            console.log(count)

            if(count==1){
                $("#backbtn1").show();
                b.hide()
                for(i=12;i<24;i++) {
                    x = $(b[i])
                    x.show()
                }
            }
            if(count==2){
                $("#backbtn1").show();
                b.hide()
                for(i=24;i<36;i++) {
                    x = $(b[i])
                    x.show()
                }
            }
            if(count==3){
                $("#backbtn1").show();
                b.hide()
                for(i=36;i<48;i++) {
                    x = $(b[i])
                    x.show()
                }
            }
            if(count==4){
                $("#backbtn1,#subbtn").show();
                $("#nextbtn").hide();
                b.hide()
                for(i=48;i<60;i++) {
                    x = $(b[i])
                    x.show()
                }
            }
        });

        $("#backbtn1").click(function() {

            count -= 1
            console.log(count)
            $("#subbtn").hide();
            $("#nextbtn").show();
            if(count==0){

                b.hide()
                $("#backbtn1").hide();
                for(i=0;i<12;i++) {
                    x = $(b[i])
                    x.show()
                }
            }

            if(count==1){
                $("#backbtn1").show();
                b.hide()
                for(i=12;i<24;i++) {
                    x = $(b[i])
                    x.show()
                }
            }
            if(count==2){
                $("#backbtn1").show();
                b.hide()
                for(i=24;i<36;i++) {
                    x = $(b[i])
                    x.show()
                }
            }
            if(count==3){
                $("#backbtn1").show();
                b.hide()
                for(i=36;i<48;i++) {
                    x = $(b[i])
                    x.show()
                }
            }
            if(count==4){
                $("#backbtn1,#subbtn").show();
                $("#nextbtn").hide();
                b.hide()
                for(i=48;i<60;i++) {
                    x = $(b[i])
                    x.show()
                }
            }
        });

    });

</script>

</html>