<html>
<head>
     <link type="text/css" rel="stylesheet" href=/static/css/bootstrap.css>
    <link type = text/css rel="stylesheet" href="/static/css/colgpage.css">
</head>
<body>

    <div id="container" class="mycontainer">
        <div id="content">
        <div id="wrapper">
        <div id="heading">
        <h3>{{ colg_name }}</h3>

        </div>


            <div id="content1">
                <p>exam info </p>
                <p>The Interest Profiler can help you find out what your interests are and how they relate to the world of work. You can find out what you like to do.</p>
                <p>The Interest Profiler helps you decide what kinds of careers you might want to explore.</p>
                <p>On each screen, click the Next button at the bottom to continue. You can use the Back button at the bottom to re-read the instructions or change your answers.</p>
                {{ o.about }}
            </div>
            <div id="bottombtn">
    <input type="submit" name="btn_register" value="Next >>" id="nextbtn" class="registerbtn">
            <div id="backbtn">
    <input type="submit" name="btn_register" value="<< Back"  id="backbtn1" class="registerbtn">
                </div>
                </div>
    </div>


</div>
</div>


</body>

<script src="/static/js/jquery-2.1.1.js"></script>
<script type="text/javascript">
    $(function() {
        $("#backbtn1").hide();
        $("#nextbtn").click(function() {
            $("#backbtn1").show();
            url = "/it1/";
            $.get(url).success(function (data) {
                console.log(data);
                $("#content1").html(data)
                $("#nextbtn").click(function () {
                    $("#backbtn1").show();
                    url = "/it2/";
                    $.get(url).success(function (data) {
                        console.log(data);
                        $("#content1").html(data)
                        $("#nextbtn").click(function () {
                            $("#backbtn1").show();
                            url = "/it3/";
                            $.get(url).success(function (data) {
                                console.log(data);
                                $("#content1").html(data)
                                $("#nextbtn").click(function () {
                                    $("#backbtn1").show();
                                    url = "/it4/";
                                    $.get(url).success(function (data) {
                                        console.log(data);
                                        $("#content1").html(data)
                                    });
                                });
                            });
                        });
                    });
                });
            });

        });
    });

</script>
</html>