{% extends "base5.html" %}
{% block contents %}

<div id="wrapper">
    <div class="LoginContent">
    <div id="left">
        <h3>New user? Register here </h3>
        <br>
        Welcome to myfuture.
        <br>
Register here to create your free online career profile.
<br>
Discover occupations that may interest you and begin your career planning journey.
<br>
You can return to your profile and improve it at any time by completing more activities.
<br>

       <a href="/register"> <button type="button" name="btn_register"  class="registerbtn">Register >></button></a>


    </div>

    <div id="right">
        <h3>Existing User / Log in</h3>
        </br>
       <form method="post" action="/login/">{% csrf_token %}
           {% if form.errors %}
        <div class="alert alert-error">
          <p>Your username and password didn't match. Please try again.</p>
        </div>
        {% endif %}
    <label class="labelname">User name</label>
    <input name="username" type="text" class="logintxt">
     <label class="labelname">Password</label>
    <input name="password" type="password" class="logintxt">

    <a href="#" class="forgotpsw">Forgot
            your password?</a>

        <div class="rememberme">
        <input type="checkbox" name="rememberme">
        <label style="margin-right:10px;" >Remember me</label>

            <input type="hidden" name="next" value={{ next }} />
            <button type="submit" name="btn_register"  class="registerbtn">Login >></button>
        </div>
       </form>
    </div>


        <div class="externallogin">
            <h2>
        Log in or register with Facebook, Twitter or Google+ account</h2>

            <ul class="externalloginbtn">
                <li><input type="" class="btnfb extloginbtn"> </li>
                <li><input type="" class="btngoogle extloginbtn"> </li>
                <li><input type="" class="btntwiter extloginbtn"> </li>
            </ul>

        </div>
</div>
</div>

{% endblock %}