<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/mainbase.css">
    <link type="text/css" rel="stylesheet" href=/static/css/FAQ.css>
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row"  style="padding-top: 20px" >

        <!-- Menu Bar -->
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default " style="padding: 15px;">
                <div class="nav-side-menu">
                    <div class="brand "><img src="/static/img/mainlogo.png"  alt="Cinque Terre" width="328" height="115" class="img-responsive"> </div>
                    <i class="fa fa-bars fa-2x toggle-btn glyphicon glyphicon-menu-hamburger " data-toggle="collapse" data-target="#menu-content"></i>


                    <div class="menu-list">

                        <ul id="menu-content" class="menu-content collapse out">
                            <li  data-toggle="collapse" data-target="#Step-by-Step" >
                                <a href="#"><i class="fa fa-gift fa-lg"></i>Step-by-Step <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="Step-by-Step">
                                <li><a href="#">What is a Career? </a></li>
                                <li><a href="#">Self-Assessment </a></li>
                                <li><a href="#">Discover career paths </a></li>
                                <li><a href="#"> Exploring different Occupations</a></li>
                                <li><a href="#">Meet professionals</a></li>
                                <li><a href="#">Plan to overcome hurdles</a></li>
                            </ul>

                            <li  data-toggle="collapse" data-target="#Parents" class="collapsed">
                                <a href="#"><i class="fa fa-gift fa-lg"></i>Parents <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="Parents">
                                <li><a href="#">Talk to your child about careers </a></li>
                                <li><a href="#">Exploring interests, skills and occupations </a></li>
                                <li><a href="#">Help your child with courses and training </a></li>
                                <li><a href="#">Help with work experience and job applications </a></li>
                            </ul>


                            <li  data-toggle="collapse" data-target="#Explore" class="collapsed">
                                <a href="#"><i class="fa fa-gift fa-lg"></i>Explore Careers<span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="Explore">
                                <li><a href="#">Browse occupations </a></li>
                                <li><a href="#">Matching interests and skills to a career </a></li>
                                <li><a href="#"> Talk with real people about your career</a></li>
                                <li><a href="#"> Current Trend in Careers</a></li>
                                <li><a href="#"> Find out about industries</a></li>
                            </ul>


                            <li  data-toggle="collapse" data-target="#Changing" class="collapsed">
                                <a href="#"><i class="fa fa-gift fa-lg"></i>Changing Careers <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="Changing">
                                <li><a href="#">What's out there? </a></li>
                                <li><a href="#">I need a job now </a></li>
                                <li><a href="#">I want to change career paths </a></li>
                                <li><a href="#">Job market trends </a></li>
                                <li><a href="#">Undertake further study or training </a></li>
                                <li><a href="#">I'm re-entering the workforce </a></li>
                                <li><a href="#">Help for mature-age workers </a></li>
                                <li><a href="#">Preparing to apply for jobs </a></li>
                            </ul>


                            <li  data-toggle="collapse" data-target="#Entrance" class="collapsed">
                                <a href="#"><i class="fa fa-gift fa-lg"></i>Entrance Tests <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="Entrance">


                                <li><a href="#">Slider</a></li>
                                <li><a href="#">Panels</a></li>
                                <li><a href="#">Widgets</a></li>
                                <li><a href="#">Bootstrap Model</a></li>
                            </ul>

                            <li  data-toggle="collapse" data-target="#Contact" class="collapsed">
                                <a href="#"><i class="fa fa-gift fa-lg"></i>Contact Us <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="Contact">
                                <li><a href="#"><img src="img/google_plus1.png"/> Send us an Email</a></li>
                                <li><a href="#"><img src="img/google_plus1.png"/> Find us on YouTube</a></li>
                                <li><a href="#"><img src="img/facebook1.png"/>Find us on Facebook</a></li>
                                <li><a href="#"><img src="img/google_plus1.png"/> Find us on Google+</a></li>
                                <li><a href="#"><img src="img/twitter1.png"/> Follow us on Twitter</a></li>
                                <li><a href="#"><img src="img/twitter1.png"/> Subscribe </a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <!-- *******sliding********* -->

        <div class="col-sm-8 col-md-8 col-lg-8"  style="background-color:#f5f5f5; padding: 15px;">

            <div id="myCarousel" class="carousel slide" data-ride="carousel" >
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/static/img/kitchen_adventurer_donut.jpg" alt="Chania" width="460" height="345">
                        <div class="carousel-caption">
                            <h3>Chania</h3>
                            <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="/static/img/kitchen_adventurer_cheesecake_brownie.jpg" alt="Chania" width="460" height="345">
                        <div class="carousel-caption">
                            <h3>Chania</h3>
                            <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="/static/img/kitchen_adventurer_caramel.jpg"alt="Flower">
                        <div class="carousel-caption">
                            <h3>Flowers</h3>
                            <p>Beatiful flowers in Kolymbari, Crete.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="/static/img/kitchen_adventurer_lemon.jpg" alt="Flower">
                        <div class="carousel-caption">
                            <h3>Flowers</h3>
                            <p>Beatiful flowers in Kolymbari, Crete.</p>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


    </div>


    {#    ***** second row ********  #}

    <div class="row" >

        <div class="col-sm-4">
            <div class="panel panel-default " style="background-color:#f5f5f5;padding: 15px 15px 0px 15px;">
                <div id="loginbox" >
                    <div class="panel panel-success" >

                    <div class="panel-heading">
                            <div class="panel-title"><a href="#" style="padding:0 15px;">  My Profile </a><a href="/signin" style="padding:0 25px;">  Sign Up </a> <a href="/login" style="padding:0 15px;">  Log In </a></div>



                        </div>
                    <span style="padding: .5px;"></span>
                        <div class="panel-heading">
                            <div class="panel-title">Search Colleges</div>


                        </div>




                        <div style="padding-top:10px" class="panel-body" >
                            <form action="/search1/" method="get">

                                <div id="title">
                                    <select id="foo" class="dd sd" name="cs">

                                        <option value="">Course Stream</option>
                                        {% for i in item %}
                                            <option value="{{ i.id }}">{{ i.id }} {{ i.name }}</option>
                                        {% endfor %}
                                    </select>

                                    <div id="subcources">
                                        <select id="foo1" class="dd sd" name="scs">
                                            <option value="">Sub-Course </option>
                                        </select>
                                    </div>


                                    <select id="state" class="dd sd" name="state">
                                        <option value="">All India</option>
                                        {% for i in state %}
                                            <option value="{{ i.id }}"> {{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div id="city1">
                                        <select id="city" class="dd sd" name="city">
                                            <option value="">Select City</option>
                                            {% for i in city %}
                                                <option value="{{ i.id }}">{{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <input type="submit" value=" Submit " class="registerbtn">

                            </form>
                       <a href="/faq"> <input type="submit" value="Query" class="registerbtn" style="float: right;margin-top: -40px;margin-right: 15px"></a>
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <div class=" col-sm-8 " style="background-color:#f5f5f5;">
            <div class="row" style="padding-top: 10px">
                <div class="col-md-4">
                    <div id="loginbox" style="margin-top:5px;">
                        <div class="panel panel-success" >
                            <div class="panel-heading">
                                <div class="panel-title"><i class="fa fa-fw fa-check"></i> How can I become a...?</div>

                            </div>

                            <div style="padding-top:15px" class="panel-body" >
                                <form class="navbar-form" role="search" style="margin-top: -10px;" method="get" action="/search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="eg.doctor, engineer..." name="query" >
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>

                                <p>You may know which career is right for you but you do not know where to start and how to reach there? This step by step process will guide you to achieve your dream career.</p>

                            </div>





                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div id="loginbox" style="margin-top:5px;">
                        <div class="panel panel-success" >
                            <div class="panel-heading">
                                <div class="panel-title"><i class="fa fa-fw fa-check"></i> I will first Explore then decide</div>

                            </div>

                            <div style="padding-top:10px" class="panel-body" >
                                <select id="foo2" style="width:180px;padding:3px;">
                    <option  value="#">Select Course Stream </option>
                    {%  for i in item %}

                        <option  value="/get/{{i.id}}">{{ i.name }}</option>

                    {% endfor %}
                </select>

                <script>
                    document.getElementById("foo2").onchange= function() {

                        window.location.href = this.value;

                    };
                </script>
                                <p style="padding-top: 15px;">By exploring  different career options you will understand what kind of knowledge, skills, ability, personality and education is required in the occupation of your choice.</p>



                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div id="loginbox" style="margin-top:5px;">
                        <div class="panel panel-success" >
                            <div class="panel-heading">
                                <div class="panel-title"><i class="fa fa-fw fa-check"></i> Discover what I am good at?</div>

                            </div>

                            <div  class="panel-body" >
                                    <a href="/itest/"> <button type="button" class="btn btn-success" style="width: 100px; margin: -3px;"> Test</button> </a>
                                <p style="padding-top: 10px;">How do you decide what career to choose?, or where to start? Here’s an activity which can help you find out what your interests are and how they relate to the world of work.</p>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    {#   **** third row ****#}



    {# *****fourth Row ******** #}

    <!-- Portfolio Section -->
    <div class="row" style="background-color: #f5f5f5;margin-left: -7px;">
        <div class="col-lg-12">
            <h2 class="page-header">Portfolio Heading</h2>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->
</div>



<script src="/static/js/jquery-2.1.1.js"></script>
<script type="text/javascript">
    $(function () {
        $("#foo").change(function () {
            var field = $("#foo").val();
            var parts = field.split(" ");
            console.log(parts);
            console.log("value changed " + parts[0]);
            url = "/dropdown2/" + parts[0];
            $.get(url).success(function (data) {
                console.log(data);
                $("#foo1").html(data);
            })
        });

        $("#state").change(function () {
            var field = $("#state").val();
            var parts = field.split(" ");
            console.log(parts);
            console.log("value changed " + parts[0]);
            url = "/city/" + parts[0];
            $.get(url).success(function (data) {
                console.log(data);
                $("#city").html(data);
            })
        });
    });
</script>
</body>
</html>
