<html>
<head>
    <title> </title>
    
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
</head>
    
<body>
<div class="container">
    <div class="wrapper">
        
        <div class="top">
           
            </div>
        
        <div class="content">
            <div class="odd">
                

<div>
    {% for t in tags %}
   <div class="even">  <a href="/sec/{{ t.id }}/">{{ t.name }}</a> </div>
    {%endfor%}
</div>

                </div>

        </div>
    
        </div>
    </div>
</div>        
</body>
</html>