{% extends "landing/base.html" %}
{% block contents %}
    <form action="/submitfaq/" class="form-horizontal" method="post">{% csrf_token %}

        <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Email</label>
            <div class="col-xs-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <label for="coursestream" class="control-label col-xs-2">Course Stream</label>

            <div class="col-xs-10">
                <select name="course" id="coursestream" class="dd sd">
                    <option>Select Course Stream</option>
                    {% for i in item %}
                        <option value={{ i.id }}>{{ i.id }} {{ i.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="subcourse" class="control-label col-xs-2">Sub Course Stream</label>
            <div class="col-xs-10">
                <select name="subcourse" id="subcourse" class="dd sd">
                    <option>Select Sub-Course Stream</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="query" class="control-label col-xs-2">Sub Course Stream</label>
            <div class="col-xs-10">
                <textarea name="query" id="query" class="fullwidth"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#msg").hide();
            $("#coursestream").change(function () {
                var field = $("#coursestream").val();
                var parts = field.split(" ");
                console.log(parts);
                console.log("value changed " + parts[0]);
                url = "/dropdown2/" + parts[0];
                $.get(url).success(function (data) {
                    console.log(data);
                    $("#subcourse").html(data);
                })
            });
            $("#subbtn").click(function () {
                $("#subbtn").hide();
                $("#msg").show();

            });

            var txt = $("#query").val();
            $("#recent").html(txt);
            console.log(txt);
        });
    </script>
{% endblock %}
